@config "../../tailwind.config.ts";
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}

.MuiSvgIcon-root,
.MuiTablePagination-root {
  @apply !text-gray-700;
}

.MuiDataGrid-columnHeader,
.MuiDataGrid-filler,
.MuiDataGrid-footerContainer {
  @apply bg-gray-50;
}

.MuiBox-root {
  @apply !text-gray-700 !bg-gray-50 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[400px] border-2 border-white shadow-2xl p-4 rounded-lg;
}

select {
  @apply !text-gray-700 !bg-gray-50;
}
